
/* 

COVID-19 Anonymous Notifer (Stylesheet)
Repository: https://github.com/shaunakg/covid-19-anonymous-notifier
Issues/Bugs: https://github.com/shaunakg/covid-19-anonymous-notifier/issues

*/

body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}